
.social_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 3dvh;
  a{
    margin-right: 2.5dvh;
    text-decoration: none;
    font-size: 3em;
    transition: .3s ease-in-out;
    color: #ffffff;
    svg{
      transition: .3s ease-in-out;
    }
    &:hover{
      transform: scale(1.2);  
    }
  }
}
