
.boardContainer{
  width: 100%;
  height: 40vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.headerHorizontalLine{
  width: 100%; 
  height: .5vh;
  background-color: #9e9f9e;
}

.headerVerticalContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3vh;
}
 
.headerVerticalLeft, .headerVerticalRight{
  width: .5vh;
  height: 3vh;
  background-color: #9e9f9e;
}

.headerVerticalLeft{
  margin-left: 5vh;
}

.headerVerticalRight{
  margin-right: 5vh;
}

.screenGameBoy{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.screenBorder{
  width: 95%;
  height: 40vh;
  background-color: #546779;
  border-radius: 2vh;
  border-bottom-right-radius: 10vh;
}

.screenHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1vh 0 1vh 0;
}

.screenHeader p{
  color: white;
  font-size: 1dvh;
  margin-left: 1vh;
}

.redLine{
  height: .5vh;
  margin-bottom: .3vh;
  background-color: #9e2a6f;
}

.blueLine{
  height: .5vh;
  background-color: #1c3e91;
}

.left .redLine{
  width: 28vh;
}

.right .redLine{
  width: 12vh;
}

.right, .left{
  //margin-top: 1.2vh;
  margin-left: 1.5vh;
}

.screenContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.batery{
  width: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 3vh 0 3vh;
}

.batery div{
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background-color: #ff0100;
}

.batery p{
  color: white;
  font-size: 1vh;
}

.screen{
  width: 65%;
  height: 32vh;
  background-color: #8ad53c;
  border: 8px solid #000000;
  padding: 0;
}

.titleNintendo h1{
  color: #002c9f;
  margin-left: 4vh;
  font-style: italic;
}

.screen h1{
  color: #2b2919;
}

/*board styles*/

.game {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.game aside, .gameContainer main {
  height: 32vh;
}

.game aside {
  width: 25%;
  background-color: #2a2b19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .shapeContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .7vh;
  }
}

.game main {
  width: 50%;
  background-color: #cccfb2;
  display: flex;
  flex-direction: column;
}

.infoBox {
  background-color: #cccfb2;
  width: 70%;
  height: 7vh;
  margin-bottom: .5rem;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox h4, .infoBox p {
  color: #2b2919;
  font-size: 1.5vh;
  
}

.infoBox h4 {
  width: 100%;
  text-align: center;
}

.infoBox p {
  width: 90%;
  text-align: right;
}

.shape, .shapesStatistic {
  width: 70%;
  height: 5vh;
  background-color: #cccfb2;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape{
  .cell{
    width: 1vh;
    height: 1vh;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cell {
  border: .1px solid #2b2919;
  width: 9.9%;
  height: 2vh;
}

.game main{
  .row{
    height: calc(100% / 15);
  }
  .cell{
    height: 100%;
  }
}

.shapesStatistic{
  height: 25vh;
  margin-bottom: .5rem;
  .statisticShape{
    margin-bottom: .1rem;
  }
  .cell{
    width: .7vh;
    height: .7vh;
  }
  p{
    font-size: 1vh;
  }
}

/*menu styles */

.menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scroolbar-width: none;
  -ms-overflow-style: none;
  background-color: #cccfb2; 
  h1{
    margin-bottom: 1vh;
  }
}
.menu::-webkit-scrollbar{
  display: none;
}

.menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub_menu{
  margin-left: 1.5vh;
  overflow-y: hidden;
  transition: all .3s ease-in-out;
}

.menu button{
  outline: none;
  border: none;
  background-color: transparent;
}

.menu button, .menu li{
  color: #2b2919;
  transition: all .3s ease-in-out;
}

/*About styles*/
.about_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccfb2;
  p{
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    font-size: 1.5vh;
  }
  h1{
    margin: 1.5vh 0 1.5vh 0;
    font-size: 2vh;
  }
  .footer_about{
    p{
      margin-top: 2vh;
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px){
  .about_container{
    h1{
      font-size: 1.5vh;
    }
    p{
      font-size: 1vh;
    }
  }
  .screenHeader p{
    font-size: .5rem;
  }

  .left .redLine, .left .blueLine{
    width: 20dvh;
  }

  .right .redLine, .right .blueLine{
    width: 4dvh;
  }

  .infoBox{
    height: 2rem;
    border-radius: .5rem;
  }

  .infoBox h4, .infoBox p{
    font-size: 1vh;
  }

  .infoBox p{
    width: 80%;
  }

  .infoBox h4{
    margin-top: .3rem;
  }

  .shape{
    height: 4rem;
  }

  .game{
    height: 23.5dvh;
  }

  .game aside{
    height: 23.5dvh;
  }

  .screen{
    width: 60%;
    height: 23.5dvh;
    margin-top: 4dvh;
  }

  .cell{
    width: 1.5dvh;
    height: 1.5dvh;
  }
  .menu h1{
    font-size: 1.5vh;
  }
  
  .menu button{
    font-size: 1.5vh;
    margin-left: 4vh;

    &:hover{
      font-size: 1.7vh;
    }
  }

  .titleNintendo{
    font-size: .5rem;
  }
  .shape{
    border-radius: .5vh;
    height: 4vh;
    .cell{
      width: .6vh;
      height: .6vh;
    }
  }
  .shapesStatistic{
    height: 15vh;
    border-radius: .5vh;
    .cell{
      width: .4vh;
      height: .4vh;
    }
    p{
      font-size: .5rem;
    } 
  }
}
