
.boardContainer{
  width: 100%;
  height: 40vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.headerHorizontalLine{
  width: 100%; 
  height: .5vh;
  background-color: #9e9f9e;
}

.headerVerticalContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3vh;
}
 
.headerVerticalLeft, .headerVerticalRight{
  width: .5vh;
  height: 3vh;
  background-color: #9e9f9e;
}

.headerVerticalLeft{
  margin-left: 5vh;
}

.headerVerticalRight{
  margin-right: 5vh;
}

.screenGameBoy{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.screenBorder{
  width: 95%;
  height: 40vh;
  background-color: #546779;
  border-radius: 2vh;
  border-bottom-right-radius: 10vh;
}

.screenHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1vh 0 1vh 0;
}

.screenHeader p{
  color: white;
  margin-left: 1vh;
}

.redLine{
  height: .5vh;
  margin-bottom: .3vh;
  background-color: #9e2a6f;
}

.blueLine{
  height: .5vh;
  background-color: #1c3e91;
}

.left .redLine{
  width: 28vh;
}

.right .redLine{
  width: 12vh;
}

.right, .left{
  //margin-top: 1.2vh;
  margin-left: 1.5vh;
}

.screenContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.batery{
  width: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 3vh 0 3vh;
}

.batery div{
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background-color: #ff0100;
}

.batery p{
  color: white;
}

.screen{
  width: 65%;
  height: 32vh;
  background-color: #8ad53c;
  border: 8px solid #000000;
  padding: 0;
}

.titleNintendo h1{
  color: #002c9f;
  margin-left: 4vh;
  font-style: italic;
}

.screen h1{
  color: #2b2919;
}

/*board styles*/

.game {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.game aside, .gameContainer main {
  height: 26.2rem;
}

.game aside {
  width: 30%;
  background-color: #2a2b19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game main {
  width: 70%;
  background-color: #cccfb2;
  display: flex;
  flex-direction: column;
}

.infoBox {
  background-color: #cccfb2;
  width: 70%;
  height: 15rem;
  margin-bottom: .5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox h4, .infoBox p {
  color: #2b2919;
  
}

.infoBox h4 {
  width: 100%;
  text-align: center;
}

.infoBox p {
  width: 90%;
  text-align: right;
}

.shape {
  width: 70%;
  height: 20rem;
  background-color: #cccfb2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cell {
  border: .1px solid #2b2919;
  width: 2vh;
  height: 2vh;
}

/*menu styles */

.menu{
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroolbar-width: none;
  -ms-overflow-style: none;
  background-color: #cccfb2;
}
.menu::-webkit-scrollbar{
  display: none;
}

.menu ul{
  list-style: none;
  width: 35vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu button, .menu li{
  font-size: 1.5rem;
  color: #2b2919;
  transition: font-size .3s;
}

.menu button:hover, .menu li:hover{
  font-size: 1.8rem;
}
