.btnFooterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnFooterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-40deg);
}

.marginLeft {
  margin-left: 3vh;
}

.btnFooterForm button {
  width: 4.5vh;
  height: 1.5vh;
  border-radius: 2vh;
  border: none;
  outline: none;
  background-color: #4d4d4d;
  border-left: 0.5vh solid #000103;
  margin-bottom: .3vh;
  cursor: pointer;
}

.btnFooterForm span {
  font-size: 1.5vh;
  color: #2747a0;
}

.Zelda{
  button{
    background-color: #f1faee;
    border-color: #e63946;
  }
  span{
    color: #f1faee;
  }
}

@media screen and (max-width: 900px) {
  .btnFooterForm {
    button{
      width: 4vh;
      height: 1.5vh;
    }
    span{
      font-size: 1vh;
    }
  }
}
