
@mixin skinApplied($ColorA, $ColorB) {
  .btnCrossContainer{
    background-color: transparent;
    button{
      background-color: $ColorA;
      border-color: $ColorB;
      &::after {
        background-color: $ColorB;
      }
      &::before {
        background-color: $ColorB;
      }
    }
  }
  .btnAbContainer{
    background-color: transparent;
    button{
      background-color: $ColorB;
      border-color: $ColorA;
      &::after {
        background-color: $ColorA;
      }
      &::before {
        background-color: $ColorA;
      }
    }
    .btnAbLabel span{
      color: $ColorA;
    }
  } 
  //#f1faee --> color A
  //#e63946 --> color B
}
.btnGameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 6vh 0 0 5%;
}

.btnCrossContainer {
  border-radius: 50%;
  background-color: #d6d7da;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 15vh;
}

.btnCrossContainer button {
  width: 5vh;
  height: 5vh;
  border-radius: .5vh;
  border: none;
  outline: none;
  background-color: #373736;
  border-left: 0.5vh solid #000103;
  cursor: pointer;
  &::after {
    content: '';
    width: 2.5vh;
    height: .5vh;
    background-color: #5A5A58;
    position: absolute;
    margin: -0.7vh 0 0 -1vh;
  }
  &::before {
    content: '';
    width: 2.5vh;
    height: .5vh;
    background-color: #5A5A58;
    position: absolute;
    margin: .2vh 0 0 -1vh;
  }
}

.btnCrossVertical {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.btnAbContainer {
  border-radius: 50%;
  background-color: #d6d7da;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(-40deg);
  width: 15vh;
  height: 8vh;
}

.btnAbContainer button {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  border: none;
  outline: none;
  border-left: 0.5vh solid #000103;
  cursor: pointer;
  background-color: #c1247d;
  &::after {
    content: '';
    width: .5vh;
    height: .5vh;
    background-color: #E052A1;
    position: absolute;
    margin: -0.7vh 0 0 -1vh;
    border-radius: 50%;
  }
  &::before {
    content: '';
    width: .5vh;
    height: .5vh;
    background-color: #E052A1;
    position: absolute;
    margin: .2vh  0 -1vh;
    border-radius: 50%;
  }

}

.btnAbLabel span {
  font-size: 1.5vh;
  color: #2747a0;
}

.btnAbButton, .btnAbLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnAbLabel {
  width: 60%;
  margin-top: 1vh;
}

.btnAbButton {
  width: 100%;
}

.Zelda{
  @include skinApplied(#f1faee, #e63946);
}

.final_fantasy{
  @include skinApplied(#4ecdc4, #ffe66d);
}

.kindred_1{
  @include skinApplied(#ff6b6b, #4ecdc4);
}

.nes{
  @include skinApplied(#00f5d4, #9b5de5);
}

.rick_morty_1{
  @include skinApplied(#b5ead7, #f6bd60);
}

.rick_morty_2{
  @include skinApplied(#fee440, #f15bb5);
}

.kindred_2{
  @include skinApplied(#ff6ec7, #00f5d4);
}

@media screen and (max-width: 900px) {
  .btnCrossContainer {
    width: 12vh;
    height: 12vh;
    button{
      width: 4vh;
      height: 4vh;
    }
  }

  .btnAbContainer {
    width: 14vh;
    height: 7vh;
    button{
      width: 4.5vh;
      height: 4.5vh;
    }
  }
}

