$bg_base: #000000;
$bg_contrast: #202020;
$c_letter: #ffffff;

@mixin info_containers {
  background-color: $bg_contrast;
  padding: 2dvh; 
  border-radius: 3px;
  text-align: center;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3dvh;
  h3,h4{
    color: $c_letter;
  }
  .board{
    width: 16.5%;
    height: 85dvh;
    background-color: $bg_contrast;
    display: flex;
    flex-direction: column;
  }

  .play_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .statistics_container{
    display: flex;
    flex-direction: column;
    @include info_containers();
  }

  .shape{
    width: 100%;
    margin-top: 2dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p{
      color: white;
    }
  }

  .player_container{
    @include info_containers();
  }

  .player_info{
    margin-top: 3dvh;
  }

  .next_container{
    @include info_containers();
  }

  .level_container{
    @include info_containers();
  }

}

.cover_start_game{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba( $bg_base, 0.75 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  cursor: pointer;
  .cover_container_tutorial{
    display: flex;
    flex-direction: row;
    margin-top: 4dvh;
  }
  .cover_tittle{
    display: flex;
    flex-direction: row;
    div{
      width: 50dvh;
      height: 0.2dvh;
      background-color: white;
      margin: 1.5dvh;
    }
  }
  .cover_tutorial_key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2dvh;
    p,svg{
      color: white;
    }
    svg{
      font-size: 12dvh;
    }
  }
}
