*{
  padding: 0;
  margin: 0;
  
}

body{
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/605/921/non_2x/three-dimensional-game-blocks-line-icon-pattern-simple-pattern-design-template-free-vector.jpg');
}
