$bg_base: #000000;
$bg_contrast: #202020;
$c_contrast_btn:#B0B0B0; 
$c_letter: #ffffff;

.nav{
  background-color: $bg_contrast;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nav_left{
    display: flex;
    flex-direction: row;
    margin-left: 2dvh;
    img{
      margin-top: 1dvh;
      width: 15dvh;
      height: 8dvh;
    }
    h1{
      color: $c_letter;
      margin: 1.5dvh 0 0 1dvh;
    }
  }

  .nav_right{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 2dvh;
    li{ 
      height: 10dvh;
      list-style: none;
      margin-left: 3dvh;
      button{
	outline: none;
	border: none;
	background-color: transparent;
	width: 100%;
	height: 100%;
	color: $c_letter;
	cursor: pointer;
	transition: .3s ease-in-out;
	padding: 0 1dvh 0 1dvh;
	&:hover{
	  background-color: $c_contrast_btn;
	  color: $bg_base;
	}
	svg{
	  margin-right: 1dvh;
	  font-size: 20px;
	  transform: translateY(.5dvh);
	}
      }
      .players_menu{
        position: absolute;
        background-color: $bg_contrast;
        display: none;
        p{
          color: $c_letter;
          font-size: 1.5dvh;
          padding: 2dvh;
          text-align: center;
        } 
      }
    }
    .playersButton{
      margin-left:0;
    }
    .menuPlayerButton:hover .players_menu{
      display: block;
    }
  }
}

.modal_player_container{
  width: 50%;
  margin-left: 25%;
  margin-top: 10dvh;
  border: 1px solid white;
  padding: 4dvh 0 4dvh 0;
  border-radius: 4dvh;

  .modal_player_head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4dvh;
    span{
      width: 15dvh;
      background-color: white;
      height: .3dvh;
      margin-top: 2.5dvh;
    }
    h4{
      margin: .5dvh;
    }
  }

  .modal_player_body{
    width: 80%;
    height: 35dvh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
  }
}

.modal_about_container{
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5dvh;
  span{
    width: .5dvh;
    height: 75dvh;
    background-color: white;
    margin: 0 1dvh 0 1dvh;
  }
}
